body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Helvetica;
}

/* logos + logo hover scaling logic */

#skullgirls_logo {
	width: 600px;
	height: 345px;
	position: absolute;
	top: 40%;
	left: 65%;
	transition: transform 1s;
	transform-origin: bottom right;
}

#hidden_fix:hover ~ #skullgirls_logo{
	transform: scale(1.5);
	transform-origin: bottom right;
	transition: transform 1s;
}

#TFH_logo {
	width: 391px;
	height: 264px;
	position: relative;
	top: 12%;
	left: 10%;
	transition: transform 1s;
	transform-origin: top left;
}

#TFH_logo:hover {
	transform: scale(1.5);
	transform-origin: top left;
}

/* gradient polygons scaling logic */

#TFH_logo_anchor:hover ~ #TFH_gradient {
	width: 85%;
	clip-path: polygon(0px 0px, 100% 0px, 34% 100%, 0% 100%);
	transition-duration: 1s;
}

#TFH_logo_anchor:hover ~ #skullgirls_gradient {
	clip-path: polygon(85% 0, 100% 0, 100% 100%, 10% 100%);
	transition-duration: 1s;
}

#hidden_fix:hover ~ #skullgirls_gradient {
	width: 85%;
	clip-path: polygon(66% 0, 100% 0, 100% 100%, 0% 100%);
}

#hidden_fix:hover ~ #TFH_gradient {
	clip-path: polygon(0px 0px, 90% 0px, 14% 100%, 0% 100%);
	transition-duration: 1s;
}

/* polygon and gradient setups + hover workaround div */

#TFH_gradient {
	position: absolute;
	top: 0;
	height: 100%;
	width: 75%;
	z-index: -1;
	clip-path: polygon(0px 0px, 100% 0px, 24% 100%, 0% 100%);
	background: radial-gradient(circle at top left,  rgba(255,255,255,1), rgba(158,0,58,0.8) 90%);
	transition: 1s;
}

#skullgirls_gradient {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 75%;
	z-index: -1;
	clip-path: polygon(75% 0, 100% 0, 100% 100%, 0% 100%);
	background-color: black;
	background: radial-gradient(circle at bottom right, rgba(255,255,255,1), rgba(199,197,170,1) 80%);
	transition: 1s;
}

#hidden_fix {
	position: absolute;
	height: 345px;
	width: 600px;
	top: 40%;
	left: 65%;
	z-index: 1;
}

/* footer + footer elements */

footer {
	padding: 0.5em 0 0.5em 0;
	background-color: rgba(80, 80, 80, 0.9);
	color: white;
	position: absolute;
	width: 100%;
	bottom: 0;
	display: flex;
	justify-content: space-between;
}

p {
	font-weight: bold;
	margin: 0 5px 0 5px;
	text-align: center;
}

#steam {
	display: inline-flex;
	align-items: center;
}

.fab {
	margin: 0 3px 0 3px;
	color: #fff;
}

.fab:hover {
	color: #117fb0;
}

.fa-heart {
	color: red;
}

/* TFH.html stylesheet */

#TFH_body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 48px;
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background: linear-gradient(to right, #888, #ddd 50%, #888 100%);
}

/* custom flex order */

#flex_container_left {
	order: 1;
}

#flex_container_center {
	order: 2;
}

#flex_container_right {
	order: 3;
}

/* flexbox, transforms, shadows etc. */

.TFH_pictures_left, .TFH_pictures_right {
	width: 557px;
	height: 313px;
	cursor: pointer;
}

.TFH_pictures_left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	transition: 1s;
}

.TFH_pictures_right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: 1s;
}

.TFH_pictures_left:hover, .TFH_pictures_right:hover {
	transform: translate(15%);
	transition-duration: 1s;
}

#flex_container_right {
	transform: scaleX(-1);
}

/* custom shadows for each hover */

.Tianhuo {
	box-shadow: -60px 0 30px 0px rgba(241, 0, 51, 0.6), 50px 0 20px 0px #333;
}

.Paprika {
	box-shadow: -60px 0 30px 0px rgba(203, 13, 75, 0.6), 50px 0 20px 0px #333;
}

.Oleander {
	box-shadow: -60px 0 30px 0px rgba(123, 1, 118, 0.6), 50px 0 20px 0px #333;
}

.Velvet {
	box-shadow: -60px 0 30px 0px rgba(0, 191, 243, 0.6), 50px 0 20px 0px #333;
}

.Arizona {
	box-shadow: -60px 0 30px 0px rgba(25, 123, 48, 0.6), 50px 0 20px 0px #333;
}

.Pom {
	box-shadow: -60px 0 30px 0px rgba(65, 211, 130, 0.6), 50px 0 20px 0px #333;
}

/* character names */

#flex_container_center {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#flex_container_center p {
	opacity: 0;
}

#top_row_names p:nth-child(1) {
	color: rgba(241, 0, 51, 0.7);
}

#top_row_names p:nth-child(2) {
	color: rgba(0, 191, 243, 0.7);
}

#middle_row_names p:nth-child(1) {
	color: rgba(203, 13, 75, 0.7);
}

#middle_row_names p:nth-child(2) {
	color: rgba(25, 123, 48, 0.7);
}

#bottom_row_names p:nth-child(1) {
	color: rgba(123, 1, 118, 0.7);
}

#bottom_row_names p:nth-child(2) {
	color: rgba(65, 211, 130, 0.85);
}

/* TFH modal */

#TFH_modal {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.6);
}

#TFH_modal_content {
	position: relative;
	z-index: 2;
	height: 80%;
	width: 80%;
	margin: 5% auto;
	box-shadow: 0 0 20px 0px #666;
}

#close {
	color: rgba(158,0,58,0.6);
	float: right;
	margin-right: 1rem;
	font-size: 60px;
	font-weight: bold;
	cursor: pointer;
}

#close:hover, #close:focus {
	color: rgba(158,0,58,1);
}

/* TFH modal pictures */

#modal_pictures_left, #modal_pictures_right {
	position: absolute;
	width: 225px;
	height: 751px;
	z-index: -1;
}

#modal_pictures_left {
	margin: 5% auto auto 75%;
}

#modal_pictures_right {
	margin: 5% auto auto 13.5%;
}

#modal_pictures_left img, #modal_pictures_right img {
	position: absolute;
	display: none;
	height: 751px;
	animation-name: fade-in;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	background-size: cover;
}

#Tianhuo_slim {
	background: url("assets/Tianhuo slim background.png");
}

#Paprika_slim {
	background: url("assets/Paprika slim background.png");
}

#Oleander_slim {
	background: url("assets/Oleander slim background.png");
}

#Velvet_slim {
	background: url("assets/Velvet slim background.png");
}

#Arizona_slim {
	background: url("assets/Arizona slim background.png");
}

#Pom_slim {
	background: url("assets/Pom slim background.png");
}

@keyframes fade-in {
	from {transform: translateY(-95px);}
	to {transform: translateY(0px);}
	from {opacity: 0.1;}
	to {opacity: 1;}
}

/* TFH modal videos */

#modal_videos_left, #modal_videos_right {
	position: absolute;
	width: 768px;
	height: 432px;
	z-index: -1;
}

#modal_videos_left {
	margin: 15% auto auto 20%;
}

#modal_videos_right {
	margin: 15% auto auto 40%;
}

#modal_videos_left video, #modal_videos_right video {
	position: absolute;
	display: none;
	animation-name: fade-in;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}