body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Helvetica;
}

/* logos + logo hover scaling logic */

#skullgirls_logo {
	width: 600px;
	height: 345px;
	position: absolute;
	top: 40%;
	left: 65%;
	transition: transform 1s;
	transform-origin: bottom right;
}

#hidden_fix:hover ~ #skullgirls_logo{
	transform: scale(1.5);
	transform-origin: bottom right;
	transition: transform 1s;
}

#TFH_logo {
	width: 391px;
	height: 264px;
	position: relative;
	top: 12%;
	left: 10%;
	transition: transform 1s;
	transform-origin: top left;
}

#TFH_logo:hover {
	transform: scale(1.5);
	transform-origin: top left;
}

/* gradient polygons scaling logic */

#TFH_logo:hover ~ #TFH_gradient {
	width: 85%;
	clip-path: polygon(0px 0px, 100% 0px, 34% 100%, 0% 100%);
	transition-duration: 1s;
}

#TFH_logo:hover ~ #skullgirls_gradient {
	clip-path: polygon(85% 0, 100% 0, 100% 100%, 10% 100%);
	transition-duration: 1s;
}

#hidden_fix:hover ~ #skullgirls_gradient {
	width: 85%;
	clip-path: polygon(66% 0, 100% 0, 100% 100%, 0% 100%);
}

#hidden_fix:hover ~ #TFH_gradient {
	clip-path: polygon(0px 0px, 90% 0px, 14% 100%, 0% 100%);
	transition-duration: 1s;
}

/* polygon and gradient setups + hover workaround div */

#TFH_gradient {
	position: absolute;
	top: 0;
	height: 100%;
	width: 75%;
	z-index: -1;
	clip-path: polygon(0px 0px, 100% 0px, 24% 100%, 0% 100%);
	background: radial-gradient(circle at top left,  rgba(255,255,255,1), rgba(158,0,58,0.8) 90%);
	transition: 1s;
}

#skullgirls_gradient {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 75%;
	z-index: -1;
	clip-path: polygon(75% 0, 100% 0, 100% 100%, 0% 100%);
	background-color: black;
	background: radial-gradient(circle at bottom right, rgba(255,255,255,1), rgba(199,197,170,1) 80%);
	transition: 1s;
}

#hidden_fix {
	position: absolute;
	height: 345px;
	width: 600px;
	top: 40%;
	left: 65%;
	z-index: 1;
}

/* footer + footer elements */

footer {
	padding: 0.5em 0 0.5em 0;
	background-color: rgba(80, 80, 80, 0.9);
	color: white;
	position: absolute;
	width: 100%;
	bottom: 0;
	display: flex;
	justify-content: space-between;
}

p {
	font-weight: bold;
	margin: 0 5px 0 5px;
	text-align: center;
}

#steam {
	display: inline-flex;
	align-items: center;
}

.fab {
	margin: 0 3px 0 3px;
	color: #fff;
}

.fab:hover {
	color: #117fb0;
}

a {
	text-decoration: none;
}

.fa-heart {
	color: red;
}